<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{ .Site.Title }}</title>
    <meta name="description" content="{{ .Site.Params.description }}">

    <!-- Facebook Meta Tags -->
    <meta property="og:url" content="{{ .Site.BaseURL }}">
    <meta property="og:type" content="website">
    <meta property="og:title" content="{{ .Site.Title }}">
    <meta property="og:description" content="{{ .Site.Params.description }}">
    <meta property="og:image" content="/imgs/exterior_front.jpg">

    <!-- google fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat&display=swap" rel="stylesheet">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@600&display=swap" rel="stylesheet"> 
    
    <!-- site styles -->
    {{ $styles := (resources.Get "css/main.scss" | toCSS | resources.Minify).RelPermalink }}
    <link rel="stylesheet" href="{{ $styles }}">

    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id={{.Site.Params.gtag}}"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());
        gtag('config', '{{.Site.Params.gtag}}');
    </script>
</head>
<body>
    {{ partial "header.html" . }}
    {{ partial "navbar.html" . }}
    {{ block "main" . }}{{ end }}
    {{ partial "footer.html" . }}
    <script
        src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script>
</body>
</html>