@import "custom-bootstrap";
@import "gallery-grid";

/* Site styles */
:root {
  --logo-color-primary: #3a4b8a;
  --logo-color-secondary: #7fc142;
  --logo-color-border: #b2b2b3;
}

html, body {
  font-family: 'Montserrat', Helvetica, Arial, Lucida, sans-serif;
}

.nav-logo {
  padding: 1em 0;
  width: 100%;
  max-width: 240px;
}

@media screen and (min-width: 768px){
  .nav-logo { max-width: 330px;}
}

.footer-logo {
  width: 100%;
  max-width: 170px;
}

.w-max-content {
  width: max-content;
}

.img-wide {
  background-image: url('/imgs/interior_wide_shelves.jpg');
  background-position: 50% 65%;
  background-size: cover;
  background-repeat: no-repeat;
  height: 200px;
}