:root {
  --logo-color-primary: #3a4b8a;
  --logo-color-secondary: #7fc142;
  --logo-color-border: #b2b2b3;
}

html, body {
  font-family: 'Montserrat', Helvetica, Arial, Lucida, sans-serif;
}

.bg-color-primary {
  background-color: var(--logo-color-primary);
  color: white;
  font-weight: bold;
}

.map {
  background-position: center center;
  background-repeat: no-repeat;
  padding-top: 56%;
  width: 100%;
}

.nav-logo {
  padding: 1em 0;
  width: 100%;
  max-width: 350px;
}

.footer-logo {
  padding: 1em 0;
  width: 100%;
  max-width: 180px;
}

.small-container {
  margin-left: auto;
  margin-right: auto;
  max-width: 1080px;
}

.w-max-content {
  width: max-content;
}