<div class="bg-color-primary pb-4">
<nav class="navbar container small-container navbar-expand-md navbar-dark">

  <div class="container-fluid">
    <a href="{{ .Site.BaseURL | relURL }}">
      <img class="nav-logo" src="/imgs/logo-horizontal.png">
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#main-nav" aria-controls="main-nav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  </div>

  <div class="collapse navbar-collapse" id="main-nav">
    <ul class="navbar-nav text-center text-md-left">
      {{ range .Site.Pages }}
      {{ if isset .Params "nav-weight" }}
      <li class="nav-item">
      {{ if eq (.Param "nav-title") ($.Param "nav-title") }}
        <a class="nav-link active" aria-current="page" href="{{ .RelPermalink }}">
          {{ .Param "nav-title" | title }}
        </a>
      {{ else }}
        <a class="nav-link" aria-current="page" href="{{ .RelPermalink }}">
          {{ .Param "nav-title" | title }}
        </a>
      {{ end }}
      </li>
      {{ end }}
      {{ end }}
    </ul>
  </div>

</nav>
</div>
