<style>
  .services-card {
    background-color: var(--logo-color-primary);
    border-radius: 5px;
  }

  .services-card .card-title {
    display: inline-block;
    width: auto;
    margin-left: auto;
    margin-right: auto;
    padding-left: 1em;
    padding-right: 1em;
    border-radius: 1em;

    font-weight: 600;
    

    background-color: var(--logo-color-secondary);
    color: #fff;
  }

  .services-card ul,
  .services-card li {
    margin-left: 0;
    padding-left: 0;
    list-style: none;
  }

  .services-card li {
    background-color: #fff;
    color: var(--logo-color-primary);
    margin-top: .6em;
    margin-bottom: .6em;
    padding-top: .2em;
    padding-bottom: .2em;
    border-radius: 1em;
    box-shadow: 0 -3px 0px 1px rgba(0, 0, 0, 0.493);
    font-weight: 600;
  }

  @media screen and (min-width: 768px) {
    .services-card li {
      font-size: 1.4em;
    }
  }
</style>

<div class="container">
  <div class="col-lg-8 col-xl-6 col-xxl-5 mx-auto services-card text-center my-5 p-5">
    <h2 class="mb-4 card-title text-uppercase">Services</h2>
    <ul>
      <li>Prescribing Pharmacist (APA)</li>
      <li>Travel Vaccines Consultation</li>
      <li>Certified Diabetes Educator</li>
      <li>Strep Test </li>
      <li>One-on-One Consultations</li>
      <li>Detailed Medication Reviews</li>
      <li>Same Day Compounding</li>
      <li>Specialty Medication Packaging</li>
      <li>Automated Refills | Easy Renewels</li>
      <li>Same Day Delivery (FREE)</li>
      <li>Shorter Wait Times</li>
    </ul>
  </div>
</div>