<div class="container py-5" id="gallery">
  <h2 class="fw-bold text-center">Gallery</h2>
  {{ $album_url := print "/static/imgs/gallery" }}
  {{ $images := readDir $album_url }}
  <div class="gallery-scrollable">
    <div class="gallery-row">
    {{ range first (div (len $images) 2) $images }}
      {{ $img_url := print "imgs/gallery/" .Name | absURL }}
      <img src="{{ $img_url }}"/>
    {{ end }}
    </div>
    <div class="gallery-row">
    {{ range last (div (len $images) 2) $images }}
      {{ $img_url := print "imgs/gallery/" .Name | absURL }}
      <img src="{{ $img_url }}"/>
    {{ end }}
    </div>
  </div>
</div>