<div class="bg-light">
  <div class="container">
    <div class="row d-flex align-items-center py-2">
      <div class="col-md-6 py-5 order-1">
        <h1 class="fw-bold text-center text-md-start">
          Focused on <span class="text-secondary">your</span> health needs
        </h1>
        <p>
          Our vision focuses on convenience, virtual care,
          and accessibility. We aim to use community
          feedback to maintain a high quality of personalised care.
        </p>

        <div class="my-4 text-center text-md-start">
          <a
            class="btn btn-primary text-light fw-bold text-uppercase"
            href="/contact"
            >Get in touch</a
          >
        </div>
      </div>
      <div class="col order-0 order-md-1">
        {{ partial "home/carousel.html" . }}
      </div>
    </div>
  </div>
</div>
