<div class="bg-light">
  <div class="container">
    <div class="row d-flex align-items-center">
      <div class="col-md-5 py-5 order-1">
        <h1 class="fw-bold text-center text-md-start">
          Focused on <span class="text-secondary">your</span> health needs
        </h1>

        <div class="my-3 text-center text-md-start">
          <a
            class="btn btn-primary text-light fw-bold text-uppercase"
            href="/contact"
            >Get in touch</a
          >
        </div>
      </div>
      <div class="col order-0 order-md-1">
        <img class="img-fluid my-2" src="/imgs/exterior_front.jpg" alt="..." />
      </div>
    </div>
  </div>
</div>
